body {
  font-family: "Open Sans", sans-serif;
  background-color:rgb(32,130,55)
}
h2 {
  font-family: cursive;
    color:red;
}  
h1 { color:white;
}

  .image { 
    border:15px ;
    border-style:ridge;
    border-color: teal
  }
p {
  font-size: 20;
  font-family: "Times New Roman", Times, serif;
  }
